#formlogin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
}

.neonTitle {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #37ff8b;
  -webkit-text-stroke: 1.5px #37ff8b;
  filter: drop-shadow(0 0 23px #37ff8b);
  margin: 30px auto;
}

#formlogin .input {
  width: 500px;
  margin: 20px;
}

#formlogin #btnQuery {
  width: 500px;
  height: 25px;
  margin: 20px;
}

#formlogin #btnQuery:hover:before {
  transform: translateX(512px);
}
